body {
    font-family: Arial, Helvetica, sans-serif;
    color: #221c1c;
}

header {
    background-color: #221c1c;
    color: white;
    text-align: center;
    font-size: 65px;
}

.forecastDay{
    padding-right: 0;
    padding-left: 0;
}

.uv span{
    padding: 5px 8px;
    border-radius: 3px;
}
